html, body {
	background: #53565C;
	font-family: helvetica, arial, sans-serif;
	display: block;
	border-width: 800px;	
}
#logo-rmit img {
	display: block;
	width: 95%;
	max-width: 800px;
	background:#A392A2 ;
	margin: top right bottom left;
	margin: 30px auto;
	padding: 30px auto;
	display: block;
	border: 1px solid #0F2C18;
}

h1 {
	border-bottom: 1px solid #E6DEDC;
    padding: 30px 30px 30px;
	font-family: Times New Roman;
	font-size: 40px;
	display: block;
}
h2 {
	
	border-bottom: 1px solid #E6DEDC;
	font-family: Times New Roman;
	font-size: 35px;
	display: block;
}
h3 {
	border-bottom: 1px solid #E6DEDC;
	padding: 30px;
	font-family: Times New Roman;
	font-size: 25px;
	

}

p {
	padding: 30px;
	font-family: Times New Roman;
	font-size: 20px;
	color: ;
	display: block;
	border-bottom: 1px solid #E6DEDC;
}
}

ul li {
	font-family: Times New Roman, sans-serif;
	font-size: 25px;
	color: #E3E7EA;
}

#first {
	max-width: 800px;
	background: #A392A2 ;
	margin: top right bottom left;
	margin: 30px auto;
	padding: 30px;
	display: block
}

#headshot img {
	width: 20%;
	height: 20%;
	background: #8B7F8B;
	margin: top right bottom left;
	margin: 30px auto;
	padding: 10px;
	display: block;
}

.linktootherpage ul {
	font-family: Times New Roman, sans-serif;
	font-size: 25px;
	color: #E3E7EA;
	list-style-type: none;
	column-count: 2;
	margin-bottom: 20px;
	front-size: 30px;
	color: ;
}

button {
	color: #0099CC;
	background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0)
	border: 2px solid #0099CC;
	border-radius: 6px;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;

}
.clear {clear: both}


